@media (min-width: 40em) {
  header h1 {
    font-size: 3em;
  }

  header .h2 {
    font-size: 1.5em;
  }
}
@media (min-width: 52em) {
  header h1 {
    font-size: 4em;
  }

  header .h2 {
    font-size: 2em;
  }
}

.option {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000;
}

a {
  border-bottom: 1px dotted;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
